<app-before-scroll-page titre="léonard BENHAMOU" [profil]="true" [credit]="false"></app-before-scroll-page>
<div class="containerPage">

  <!-- Texte introductif -->
  <div class="containerTextePresentation">
    Graphiste, Vidéaste et UX chez Prodex, incubateur de jeunes talents <br>
    situé à paris 17.Élève en troisième année à L’IESA, première école <br>
    de multimédia à Paris. Spécialisation en UX Designer. <br>
    <br>
    Alternant chez Daveo, au pôle communication, je suis chargé des<br>
    divers création multimédia.<br>
    (Photo, Vidéo, Graphisme, Motion Design)<br>
    Graphiste, Vidéaste et UX chez Prodex, incubateur de jeunes talents<br>
    situé à paris 17.Élève en troisième année à L’IESA, première école<br>
    de multimédia à Paris. Spécialisation en UX Designer.<br>
    <br>
    Alternant chez Daveo, au pôle communication, je suis chargé des<br>
    divers création multimédia.<br>
    (Photo, Vidéo, Graphisme, Motion Design)<br>
    <br>
  </div>

  <!-- Me joindre-->
  <div class="containerMeJoindre">
    <div class="texteMeJoindre">Me Joindre</div>
    <div class="textAdresseMail"> Leonard@prodex.paris </div>
  </div>

  <!-- Partie Resume-->
  <div class="containerResume">


    <div class="containerDroit">
      <div class="titreElement">MAGNIFIK PROD </div>
      Réalisation d’un shooting photo et
      d’une Interview dee Garou, pour sa nouvelle
      tournée en Europe
      de l’Est
    </div>


    <div class="containerGauche">
      <div class="titreElement">DAVEO </div>
      Alternant chef de projet digital
      Responsable de toutes la création
      de contenu de la sociétée
    </div>


    <div class="containerDroit">
      <div class="titreElement"> ADIDAS </div>
      Réalisation shooting photo pour l’athlète
      Elisa Pineau pour la nouvelle collection sport

    </div>


    <div class="containerGauche">
      <div class="titreElement">PUMA </div>
      Réalisation de la direction artistique d’un
      shooting photo pour leur nouvelle
      collection de Selena Gomes
    </div>


  </div>

  <!-- Footer Download CV -->
  <div class="containerButtonCv">
    <a href="../../assets/cv.pdf" target="_blank" class="buttonCV"> Télécharger le CV </a>
  </div>
</div>
