<div class="containerFooter">
  <div class="containerMenuGauche">
    <div class="elementMenuGauche">
      Client :
    </div>
    <div class="elementMenuGauche">
      Lieux :
    </div>
    <div class="elementMenuGauche">
      Format :
    </div>
    <div class="elementMenuGauche">
      Photographie :
    </div>
  </div>
  <div class="containerMenuDroit">
    <div class="elementMenuGauche">
      {{ projetInput.client }}
    </div>
    <div class="elementMenuGauche">
      {{ projetInput.lieux }}
    </div>
    <div class="elementMenuGauche">
      {{ projetInput.format }}
    </div>
    <div class="elementMenuGauche">
      {{ projetInput.photographie }}
    </div>
  </div>
</div>
