.containerFooter {
  width: 96%;
  padding-top: 10%;
  padding-left: 4%;
  display: flex;
  justify-content: space-between;
}


.containerMenuGauche {
  font-family: 'normalBigFont';
}

.elementMenuGauche {
  padding-top: 1%;
}

.containerMenuDroit {
  padding-right: 70%;
  font-family: 'normalSmallFont';
}
