.navbar {
  overflow: hidden;
  display: flex;
}

.buttonNavBar {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: normalSmallFont;
  font-size: large;
  color: white;
}


