.containerFooter {
  width: 100%;
  padding-top: 8%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.texteFooter {
  color: grey;
  opacity: 0.5;
}

.containerTexteSmall {
  @extend .texteFooter;
  font-family: 'normalSmallFont';
  padding-right: 1%;
}

.containerTexteBig {
  @extend .texteFooter;
  padding-right: 5%;
  font-family: 'normalBigFont';
}
