.containerFooter {
  width: 100%;
  padding-top: 8%;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.containerTexte {
  padding-right: 5%;
  color: grey;
  font-family: 'normalBigFont';
}
