/* .containerProjetImageGalerie {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .containerProjetImageGalerie {
  position: relative;
  width: 96%;
  display: grid;
  padding-left: 4%;
  grid-column-gap: 3%;
  grid-row-gap: 2%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: max-content max-content;
} */

.containerProjetImageGalerie {
  position: relative;
  width: 96%;
  display: grid;
  padding-left: 4%;
  grid-column-gap: 3%;
  grid-row-gap: 2%;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: max-content max-content;
}


.elementGridPortrait {

}

.elementGridPortraitGrande {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.photo {
 width: 100%;
}

.photoPortraitGrande {
  width: 100%;
  /* grid-column: 1 / 3;
  grid-row: 1 / 2; */
}

