<!-- <div class="containerProjetImageGalerie">
  <div *ngFor="let num of listePhoto;  let i=index" class="photoContainer">
    <img *ngIf="i === 0"[src]="getTheUrlImgProjetIndex(i)" class="photo0">
    <img *ngIf="i >= 0"[src]="getTheUrlImgProjetIndex(i)" class="photo1">
  </div>
</div> -->
<div class="containerProjetImageGalerie">
  <div *ngFor="let num of listePhoto;  let i=index" [class.elementGridPortrait] = "i > 0" [class.elementGridPortraitGrande]="i === 0">
    <img [src]="getTheUrlImgProjetIndex(i)" class="photo">
  </div>
</div>

