<div class="containerGalery">
<!-- ici il vas y avoir un ng for des photos-->
<div *ngFor="let projet of listeProjets" class="containerPhotoCaption">

  <app-photo [projetInput]="projet" gaucheInput="true"></app-photo>
  <!-- <app-photo *ngIf="projet.portrait && getGauche()" [projetInput]="projet" class="photoPortraitGauche"></app-photo>
    <app-photo *ngIf="projet.portrait && getAndChangeGauche()" [projetInput]="projet" class="photoPortraitDroit"></app-photo>
    <app-photo *ngIf="!projet.portrait && chrome" [projetInput]="projet" class="photoPortraitGauche"></app-photo>
    <app-photo *ngIf="!projet.portrait && !chrome" [projetInput]="projet" class="photoPaysageOther"></app-photo>
    <img *ngIf="projet.portrait && getGauche()" [src]="getPathName(projet)" class="photoPortraitGauche">
    <img *ngIf="projet.portrait && getAndChangeGauche()" [src]="getPathName(projet)" class="photoPortraitDroit">
    <img *ngIf="!projet.portrait && chrome" [src]="getPathName(projet)" class="photoPaysageChrome">
    <img *ngIf="!projet.portrait && !chrome" [src]="getPathName(projet)" class="photoPaysageOther"> -->
</div>

</div>

