<app-before-scroll-page titre="" [profil]="true" [credit]="true"></app-before-scroll-page>
<div class="containerPage">

  <!-- Texte introductif -->
  <div class="containerTextePresentation">
    Se site à été designé par moi et conçu par Prodex en 2020.
    <br>
    <br>
    Typographie utilisé : Anonymous Pro et Avenir
    <br>
    <br>
    Remerciment
    Graphiste, Vidéaste et UX chez Prodex, incubateur de jeunes talents
    situé à paris 17.Élève en troisième année à L’IESA, première école
    de multimédia à Paris. Spécialisation en UX Designer.
    <br>
    <br>
    Alternant chez Daveo, au pôle communication, je suis chargé des
    divers création multimédia.
    (Photo, Vidéo, Graphisme, Motion Design)
    <br>
    <br>
  </div>
</div>
