<div class="containerfullScreen">
  <div class="containerTitleDateLegende">
    <h1 class="title"> {{ projet.titre }} </h1>
    <div class="date">
      {{ projet.date | date:'mm. y' }}
    </div>
    <div class="categorie">
      {{ projet.categorie }}
    </div>
  </div>
  <div class="containerDescription">
    {{ projet.description }}
  </div>

  <div [class.containerPhotoPortrait]="projet.portrait" [class.containerPhotoPaysage]="!projet.portrait">
    <!-- Si c'est une image avant le scroll down-->
    <img *ngIf="!projet.videoPageBeforeScroll" [src]="getPathName(projet)" class="photo">
    <!-- Si c'est une video -->
    <div *ngIf="projet.videoPageBeforeScroll">
      <video controls width="80%">
        <source [src]="getVideoPath()"
                type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>

    </div>
  </div>
  <div class="containerAppBar" #stickyMenu [class.sticky] = "sticky">
    <app-barre-navigation></app-barre-navigation>
  </div>
</div>
<app-projet-image-galerie [projetInput]="projet"></app-projet-image-galerie>
<app-projet-footer [projetInput]="projet"></app-projet-footer>
<app-footer-copyright></app-footer-copyright>
